body {
    overflow: hidden;
  }

.search {
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.top {
    height: 85px;
    display: flex;  
    justify-content: space-between;
    align-items: center;  
    gap: 20px;
}

.top h4{
    padding-left: 40px;
}

.top form {
    display: flex;  
    justify-content: space-between;  
    position: relative;
    align-items: center;
    width: 800px;
}


.top form i {
    position: absolute;
    left: 10px;                     
    color: gray;
}

.top form input {
    background-color:#ccc;
    width: 100%;
    padding-left: 30px;    
    margin-right: 20px;        
    height: 35px;
    border: none;
    border-bottom: 2px solid black;
}

.top form button{
    background-color:#7A865D;
    color: white;
    height: 35px;
    width: 100px;
}


.top h4 {
    margin: 0;
    left: 0;
}

.top a{
    color: coral;
    padding-right: 40px;
}

.middle h2{
    float: left;
    margin-bottom: 40px;
    margin-left: 47px;
}


.Trending-inner {
    width:17.5%;
    height: 375px;
    margin-right:4%;
    margin-left: 3%;
    float:left;
    background-color:white;
    border:1px solid #ccc;
    margin-bottom:3rem;
    text-align: left;
    
}

.Trending-inner strong {
    margin-left: 17.5px;
}

.Trending-inner p {
    margin-left: 17.5px;
}

.Trending-inner:nth-child(4n){
    margin-right:0;
 }

.Trendin-me{
    display: flex;  
    justify-content: space-between;
    align-items: left;  
}

.Trending-inner img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    display: block;
}

.Trending-inner a{
    color: coral;
    margin-top: 70px;
}

.Explanation {
    margin-top: 20px;
    font-size: 70%;
}



.bottom {
    background-color: #7A865D;  
    justify-content: space-between;
    align-items: center;    
    gap: 20px;  
    width: 98%;  
    padding: 1rem;
    position: fixed;
    bottom: 0;
    color: white;
    margin-left: -8px;
    height: 70px;

}

.firstline {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.sharehi {
    margin-left: 90px;
}

.bottom footer {
    display: flex;  
    gap: 20px;  
}

.bottomicon {
    width: 350px;
    justify-content: space-between;
    align-items: center; 
}

.bottomicon i {
    padding: 8px;
}

nav {
    display: flex;  
    gap: 20px;
}

a {
    text-decoration: none; 
    color: black;  
}

nav a{
    color:white;
}

